.container {
    display: flex;
    flex-direction: column; /* Align children horizontally */
    align-content: center;
    text-align: center;
}

.centered-from-left {
    position: absolute;
    left: 50%; /* Positions the left edge of the element at the center of the screen */
}